/* --- Nastavení box-sizing bez bližšího komentáře --- */
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
/* --------------------------------------------------- */

h1 {
	text-align: center;
}

.galerie {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 0.5rem;
	max-width: 80rem;
	margin: 0 auto;
}

.galerie img {
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 60rem) {
	.galerie {
		grid-template-columns: repeat(3, 1fr);
		margin: 0 3rem;
	}
}

@media screen and (max-width: 40rem) {
	.galerie {
		grid-template-columns: repeat(2, 1fr);
	}
}
